.service-item-resume {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    min-height: 1px;
    min-height: 236px;
    text-align: left;
}

.service-item-resume .card-resume {


    position: relative;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.icon1 {
    margin-left: 12px;
    width: auto;
    height: 30px;
    line-height: 50px;
    font-size: 50px;
    color: var(--bg-color);
}



p {
    font-size: 15px;
    line-height: 1.7;
    padding: 0;
    margin: 0 0 20px 0;
    color: #777777;

}

p {
    margin: 0;
}

CSSResult Skip Results Iframe EDIT ON .box-resume h3 {
    text-align: center;
    position: relative;
    top: 60px;
}

.box-resumee {
    box-shadow: 12px 12px 12p 12px;
    width: 88%;
    height: 510px;
    background: rgb(51, 54, 58);
    margin: 35px auto;
    border-radius: 12px;
}


.resume-item:first-child {
    padding-top: 10px;
}

.resume-item {
    position: relative;
    padding: 5px 0;
}

.span1 {
    color: #777777 !important;
    padding: 12px;

}

.resume-item {
    position: relative;
    padding: 7px 0;
}
.resume-itemm {
   
    padding: 7px 0;
}

.resume-item:first-child {
    padding-top: 0;
}

.resume-items .card-box {
    position: relative;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.resume-item {
    font-size: 0;
    text-align: start;
}
.resume-itemm {
    font-size: 0;
    text-align: start;
}
.resume-itemm .date{
    margin: 0 0 15px 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #777777;
    font-weight: 400;
} 

.resume-item .date {
    margin: 0 0 15px 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #777777;
    font-weight: 400;
}

.resume-item {
    font-size: 0;
}

.resume-item::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    right: -30px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}



::after {
    box-sizing: border-box;
}


.resume-item:first-child {
    padding-top: 0;
}