.service-item-table {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    min-height: 1px;
    min-height: 236px;
    text-align: left;
}

.service-item-table .card-table {


    position: relative;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.icon2 {
    margin-left: 0px;
    width: auto;
    height: 80px;
    line-height: 50px;
    font-size: 50px;
    color: var(--bg-color);
}

.name {
    margin: 10px 0 10px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.7;
    padding: 0;
    margin: 0 0 20px 0;
}

CSSResult Skip Results Iframe EDIT ON .box-table h3 {
    text-align: center;
    position: relative;
    top: 60px;
}

.box-table {
    box-shadow: 12px 12px 12p 12px;
    width: 86%;
    height: 448px;
    background: rgb(51, 54, 58);
    margin: 35px auto;
    border-radius: 12px;
}

.pricing-item {
    padding-bottom: 90px;
    text-align: center;
}

.pricing-item .name {
    margin: 10px 0 30px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-item .amount {
    margin: 0 0 30px 0;
}

.pricing-item {
    padding-bottom: 90px;
    text-align: center;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.pricing-item .feature-list ul li {
    padding: 5px 0;
    font-size: 15px;
    color: #ffffff;
}

.pricing-item .feature-list ul li:last-child {
    border-bottom: none;
}

.lnks {
    position: absolute;
    left: 0;
    bottom: 59px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.pricing-item .amount .dollar,
.pricing-item .amount .period {
    margin: 0 3px;
    position: relative;
    bottom: 7px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 400;
}

.pricing-item .amount .number {
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 42px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff !important;
}

.pricing-item .amount .period {
    bottom: auto;
    top: 4px;
    vertical-align: bottom;
    font-size: 14px;
}
.pricing-item .feature-list ul li.disable {
    text-decoration: line-through;
    color: rgba(153, 153, 153, 0.5);
}
.pricing-item .feature-list ul li.disable strong {
    opacity: 0.5;
}
.effectBox{
    margin-left: 42px;
}