.service-item-resume {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    min-height: 1px;
    min-height: 236px;
    text-align: left;
}

.service-item-resume .card-resume {


    position: relative;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.icon1 {
    margin-left: 12px;
    width: auto;
    height: 30px;
    line-height: 50px;
    font-size: 50px;
    color: #5ac24e;
}

.name {
    margin: 10px 0 10px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.7;
    padding: 0;
    margin: 0 0 20px 0;
}

CSSResult Skip Results Iframe EDIT ON .box-resume h3 {
    text-align: center;
    position: relative;
    top: 60px;
}

.box-resume {
    box-shadow: 12px 12px 12p 12px;
    width: 83%;
    height: 510px;
    background: rgb(51, 54, 58);
    margin: 35px auto;
    border-radius: 12px;
}

/* second card */

.service-item-second {
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    min-height: 1px;
    min-height: 236px;
    text-align: left;
}

.service-item-second .card-second {


    position: relative;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -khtml-border-radius: 18px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.icon1 {
    margin-left: 12px;
    width: auto;
    height: 30px;
    line-height: 50px;
    font-size: 50px;
    color: #5ac24e;
}

.name {
    margin: 10px 0 10px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.7;
    padding: 0;
    margin: 0 0 20px 0;
}

CSSResult Skip Results Iframe EDIT ON .box-second h3 {
    text-align: center;
    position: relative;
    top: 60px;
}

.box-second {
    box-shadow: 12px 12px 12p 12px;
    width: 83%;
    height: 310px;
    background: rgb(51, 54, 58);
    margin: 35px auto;
    border-radius: 12px;
}

